--find-links https://download.pytorch.org/whl/torch_stable.html
black==19.10b0
boto3==1.14
boto3-stubs==1.16.14.0
botocore>=1.17.0,<1.18.0
coverage==5.2.1
dataclasses-json==0.5.2
dvc==1.11.10
editdistance==0.5.3
fastapi==0.63.0
fastapi-utils

gunicorn==20.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
httptools
jupyter==1.0.0
kungfuai-sql-chemistry==0.0.8
Metaphone==0.6
moto==1.3.16
neuralcoref==4.0; sys_platform == 'linux'
neuralcoref; sys_platform == 'darwin'
pandas==1.0.5
pdfminer.six==20200726
poetry
pre-commit==2.7.1
psycopg2-binary
pyarrow==2.0.0
pylint==2.4.4
pymupdf==1.18.8
pytest==5.3.5
pytest-icdiff==0.3
python-dotenv==0.15.0
requests-futures==1.0.0
requests-mock==1.8.0
scikit_learn==0.24.1
spacy==2.3.2
spacy>=2.2.0,<3.0.0
sqlalchemy==1.3.18
tabulate==0.8.7
taskipy
testing.postgresql==1.3.0
torch==1.8.1+cpu; sys_platform == 'linux'
torch==1.8.1; sys_platform == 'darwin'
transformers==4.1.1
uvicorn
# torchvision==0.9.1+cpu
# torchaudio==0.8.1
uvloop
xlrd==1.2.0
